<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .lh60 {
        line-height: 60px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h2>人员列表</h2>
      <button @click.once="addPerson">添加</button>
       <!-- 渲染数组 -->
      <ul>
        <li v-for="(person,index) in persons" :key="index">
          {{person.name}}: {{person.age}}
          <input type="text">
        </li>
      </ul>
      <!-- 渲染Object -->
      <ul>
        <li v-for="(value, key, index) in personsObj" :key="index">
          value: {{value}} - key: {{key}} - index: {{index}}
          <input type="text">
        </li>
      </ul>
      <!-- 渲染字符串 -->
      <ul>
        <li v-for="(item, index) in hello" :key="index">
          {{item}} - {{index}}
        </li>
      </ul>
      <!-- 渲染数值，默认数值会从1开始 -->
      <ul>
        <li v-for="(item, index) in 5" :key="item">
          {{item}} - {{index}}
        </li>
      </ul>
    </div>
    <script>
      const vm = new Vue({
        el: "#root",
        data: {
          persons: [
            {id: '001', name: '张三', age: 18},
            {id: '002', name: '李四', age: 18},
            {id: '003', name: '王五', age: 18},
          ],
          personsObj: {
            'xiaofang': 30,
            'xiaohe': 40,
            'xiaokang': 33
          },
          hello: 'hello'
        },
        methods: {   
          addPerson() {
            this.persons.unshift({
              id: '004',
              name: '小吴',
              age: 15
            })
          }
        }
      });
    </script>
  </body>
</html>
